html {}

body {
    font-family: arial;
    display: block;
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-right: 2vw;
    margin-left: 2vw;
}


.content {
    display: flex;
    flex-direction: column;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4vh;
    margin-top: 1vh;
}


#navopen, #name {
    font-size: 2.2vw;
    text-transform: uppercase;
}

#navopen {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

#navopen:hover {
    color: #f1f1f1;
    transition: 0.3s;
}



#catbl {
    margin: 0 auto;
    border-collapse: collapse;
}

#catbl td {
    width:15px;
    height:15px;
}


#controls {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1vh;
    margin-top: 4vh;
}


#controls button {
    background-color: white;
    border: 1px solid black;
    width: 2.5vw;
    height: 2.5vw;
    margin: 0.2vw;
    border-radius: 4px;
    color: black;
    text-decoration: none;
    font-size: 1vw;
}

#controls button:hover {
    transition-duration: 0.3s;
    background-color: #f1f1f1;
}

#navslide {
    height: 100%;
    width: 0vw;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    white-space: nowrap;
    transition: 0.5s;
}

#navslidecontent {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 2.2vw;
}

#navclose {
    margin-top: 1vh;
    font-size: 4vw;
}

#navslidecontent a{
    text-decoration: none;
    color: #818181;
    transition: 0.3s;
    margin-top: 0.8vw;
    margin-right: 1vw;
}

#navslidecontent a:hover {
    color: #f1f1f1;
}


#contentslide {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 15vw;
    background-color: white;
    opacity: 0.98;
    overflow-x: hidden;
    white-space: nowrap;
    transition: 0.5s;
}

#contentslide a{
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    transition: 0.3s;
    
}

#contentslide a:hover {
    color: black;
}



#csclose {
    margin-top: 1vh;
    margin-right: 1vw;
    font-size: 4vw;
}

#contentslide .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

#csc {
    margin: 0 2vw;
    display: flex;
    flex-direction: column;
}